* {
	margin: 0;
	padding: 0;
}

.godParent {
	text-align: center;
}

.parent {
	display: inline-block;
	width: 400px;
	margin: 10px;
	text-align: center;
}
.parentImage {
	width: 100%;
	height: 300px;
	border-radius: 70px;
}
.parentImageIcon {
	width: 30px;
	border-radius: 100%;
	height: 30px;
}
.naslovPesme {
	text-align: center;
	font-weight: bold;
}
.viewsStreams {
	color: #ad3232;
	font-style: oblique;
	font-size: 17px;
	font-weight: bold;
}
